.container-form{
    display: flex;
}

section {
    display: flex;
    justify-content: center;
    align-items: ;
    max-width: 2040px;
    width: auto;
    
}
.lado2 {
    
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.lado2 form {
    font-size: 1.3em;
    margin: auto;
}
.lado2 h2 {
    margin: auto;
} 
button {
    margin-top: 16px;
}
